body{
    margin: 0px;
    padding: 0px;
    background-color:beige;
     font-family:'Bell MT';
}

.frombody {
    position: absolute;
    top: 20%;
    left: 20%;
    background-color:burlywood;
    border: 5px solid burlywood;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-top:20px;
    border-bottom-right-radius:30px;
    border-top-left-radius:30px;
    display: grid;
    grid-template-area: "head head " "lblnm lblnm  " "lbladd lblnm ";
}

.heading {
    color:brown;
    text-align:center;
    font-size:30px;
}
.lbl{
   color:saddlebrown ;
   font-size:20px;
  
}
.tb{
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    padding:5px;
    color:sandybrown ;
    font-size:20px;
}
.lblname {
    grid-area: "lblnm";
}

.txtboxnm {
    grid-area: "tbnm";
}

.lbladd {
    grid-area: "lbladd";
}

.txtboxadd {
    grid-area: "tbadd";
}
