<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>selectPage</servlet-name>
        <servlet-class>selectPage</servlet-class>
    </servlet>
    <!--default page show-->
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>insertPage</servlet-name>
        <servlet-class>insertPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePage</servlet-name>
        <servlet-class>updatePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePage</servlet-name>
        <servlet-class>deletePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataInsert</servlet-name>
        <servlet-class>DataInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataUpdate</servlet-name>
        <servlet-class>DataUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataUpdateTask</servlet-name>
        <servlet-class>DataUpdateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataDelete</servlet-name>
        <servlet-class>DataDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectPage</servlet-name>
        <url-pattern>/selectPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertPage</servlet-name>
        <url-pattern>/insertPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePage</servlet-name>
        <url-pattern>/updatePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePage</servlet-name>
        <url-pattern>/deletePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataInsert</servlet-name>
        <url-pattern>/DataInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataUpdate</servlet-name>
        <url-pattern>/DataUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataUpdateTask</servlet-name>
        <url-pattern>/DataUpdateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataDelete</servlet-name>
        <url-pattern>/DataDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
